.h1_main{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  

  .h1_footer{
    text-align: center;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .p_footer
  {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #000;
    color:white;
  }
  .footer{
    padding-top: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b7babb;
    color:#000;
  }
  .logo {
    max-width: 13%; 
    margin-bottom: -50px;
    margin-left: -85%;
  }
.menu
{
text-align: center;
font-size: 12px;
}
.pic_section
{
    max-width: fit-content;
    max-height: fit-content;
}
.pics
{
    max-width: 300px;
    margin-left: 20px;
    opacity: 0.8;
}
  .menu a {
    margin-right: 1.5rem;
    margin-left: 20%;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;

    
  }
  
  .a_link
  {
    display: flex;
    margin-inline: 10px;
    
    
  }
  .menu a:hover {
    text-decoration: underline;
  }
  .footer_content
  {
    display: flex;
    margin-left: 20%;
  }
  .content_p
  {
    display: flex;
    max-width: fit-content;
    margin: auto;
    padding-bottom: 10px;
    margin-top: -20px;
  }
  .mobileMenuIcon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
    }
  
    .menu.show {
      display: flex;
    }
  
    .mobileMenuIcon {
      display: flex;
    }
  
    .mobileMenuIcon span {
      width: 25px;
      height: 3px;
      background-color: #bbb7b7;
      margin: 5px 0;
    }
  }