/* styles.module.css */
.html {
  width: 100%;
  height: 100%;
  background-color: red;
}
.bg_body
{
    background-color: #b7babb;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #83b72b solid 3px;
}

.container {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    text-align: center;
    border: #bbb7b7;
 
    
  }
  
  .dropzone {
    border: 2px dashed;
    border-color: #000;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .image {
    max-width: 100%;
    margin-top: 20px;
  }
  .h1_main{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .textarea {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .p_image
  {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
.p_body
{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}
.button_container {
    background-color: #fcfcfc;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }


  
  .button_container:hover {
    text-decoration: underline;
  }
  .p{
    display: flex;
    margin-top: 20%;
  }
  